## Imports

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('./data/food_waste.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27773 entries, 0 to 27772
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  27773 non-null  int64
 1   country                   27773 non-null  object
 2   region                    871 non-null    object
 3   cpc_code                  27773 non-null  object
 4   commodity                 27773 non-null  object
 5   year                      27773 non-null  int64
 6   loss_percentage           27773 non-null  float64
 7   loss_percentage_original  27773 non-null  object
 8   loss_quantity             4552 non-null   object
 9   activity                  20873 non-null  object
 10  food_supply_stage         27724 non-null  object
 11  treatment                 881 non-null    object
 12  cause_of_loss             925 non-null    object
 13  sample_size               1176 non-null   object
 14  method_data_collection    27418 non-null  object
 15  reference                 8436 non-null   object
 16  url                       21158 non-null  object
 17  notes                     1350 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 3.8+ MB

## Cleaning Data

In [29]:
# iterate through columns that have more than 1000 null variables
for col in df.columns:
    if df[col].isnull().sum() > 10000:
        print(f'{col}: {df[col].isnull().sum()}')

region: 26902
loss_quantity: 23221
treatment: 26892
cause_of_loss: 26848
sample_size: 26597
reference: 19337
notes: 26423

In [30]:
# dropping columns with many null variables, missing data essentially
for col in df.columns:
    if df[col].isnull().sum() > 10000:
        df.drop(col, axis = 1, inplace = True)

In [31]:
# these columns aren't relevant for us to look at
df.drop(columns = ['m49_code', 'cpc_code', 'method_data_collection', 'url'],
             axis = 1, inplace = True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27773 entries, 0 to 27772
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   27773 non-null  object
 1   commodity                 27773 non-null  object
 2   year                      27773 non-null  int64
 3   loss_percentage           27773 non-null  float64
 4   loss_percentage_original  27773 non-null  object
 5   activity                  20873 non-null  object
 6   food_supply_stage         27724 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.5+ MB

In [35]:
df.isnull().sum()

country                        0
commodity                      0
year                           0
loss_percentage                0
loss_percentage_original       0
activity                    6900
food_supply_stage             49
dtype: int64

In [33]:
df['food_supply_stage'].value_counts()

Farm                  12368
Whole supply chain     5918
Harvest                3688
Storage                2525
Transport              1849
Retail                  438
Processing              262
Wholesale               257
Households              167
Trader                   76
Post-harvest             53
Export                   50
Packing                  17
Food Services            14
Pre-harvest              11
Grading                  11
Distribution             10
Market                    9
Stacking                  1
Name: food_supply_stage, dtype: int64